<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
	rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
	<div>
		<h1 class="text-6xl font-bold text-gray-800 m-4">Blogx</h1>
		<h1>Created By Chandan Chauhan</h1>
		<div sec:authorize="hasRole('USER')">
			<a th:href="@{/user}"
				class="text-gray-900 hover:bg-gray-200 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">User</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/admin}"
				class="text-gray-900 hover:bg-gray-200 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Admin</a>
		</div>
		
			<div>
		 <p>Credentials: <span sec:authentication="Credentials">NOT FOUND</span></p>		 
		 <p>Spring Roles:<span sec:authentication="principal.authorities">NOT FOUND</span></p> 
		  <p>IS Auth:<span  sec:authorize="isAuthenticated()">Yes</span></p>   
		</div>
		<a href="/"
			class="mt-6 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Go
			Back Home</a>
	</div>
</body>
</html>